.python-version
.venv
venv
.idea
catboost_info
**/__pycache__
**/.DS_Store
tmp*
**bin
**.egg-info
dist
build
pathbook/pathbook.py
swans.code-workspace
**runs
**.cache
data/train
data/val
data/test
data/submit
YOLOV8