.python-version
.venv
venv
.idea
catboost_info
**/__pycache__
**/.DS_Store
tmp*
**bin
**.egg-info
dist
build
pathbook/pathbook.py
swans.code-workspace
**runs
**.cache
dataset
data
pathbook/pathbook.py
**.pt